#root .show-tracks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

#root .tracks-card-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  max-width: 20%;
  min-width: 220px;
  background-color: #f3f3f3;
  margin: 1rem;
}

#root .back-button-container-albums {
  padding: 1.5rem;
}