.navbar {
  background-color: #FBBD08;
  padding: 2rem;
}

.nav-content-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
  max-width: 800px;
}

img.ui.avatar.image {
  width: 4rem;
  height: 4rem;
}

#root .ul-list {
  display: flex;
  align-items: baseline;
  margin-top: 0;
}

.nav-link {
  margin-right: 0.5rem;
}

#root .nav-link > a {
  color: #2185d0;
  font-weight: 600;
  transition: .1s color ease;
}

#root .nav-link > a:hover {
  color: #929ea7;
}

.nav-content-container {
  max-width: 800px;
}
