.header-container {
  background-color: #2185d0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  padding-top: 2.5rem;
  height: 7rem;
}

.subtitle {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}

.login_button-container {
  text-align: center;
  padding-top: 5rem;
}

